<%- include("header"); -%>

<h1><%=homeText %></h1>

<table>
  <tr>
    <th>Departure station name</th>
    <th>Return station name</th>
    <th>Distance</th>
    <th>Duration</th>
  </tr>

  <% for (let i = 0; i < allData.info.limit; i++) { %>
    <tr>
      <td><%= allData.results[i].DepartureStationName %> </td>
      <td><%= allData.results[i].ReturnStationName; %> </td>
      <td><%= allData.results[i].Distance +" m"; %> </td>
      <td><%= allData.results[i].Duration +" s"; %> </td>




    </tr>
  <% } %>


</table>



<%- include("footer") -%>
