<%- include("header"); -%>

<h1><%=homeText %></h1>

<div class="journeySearch">
<button type="button" class="searchJourney">Search Journeys</button>
<div class="content">
  <form action="">
    <Label class="searchLabel">Departure Station</Label>
    <input type="text" name="departureStation">
    <br>
    <Label class="searchLabel">Return Station</Label>
    <input type="text" name="returnStation">

  </form>
</div>
</div>

<table>
  <tr>
    <th>Departure station name</th>
    <th>Return station name</th>
    <th>Distance</th>
    <th>Duration</th>
  </tr>

  <% for (let i = 0; i < allData.info.limit; i++) { %>
    <% if (allData.results[i]) { %>
      <tr>
        <td><%= allData.results[i].DepartureStationName %> </td>
        <td><%= allData.results[i].ReturnStationName; %> </td>
        <td><%= Math.round((allData.results[i].Distance /1000) * 100) / 100 +" km"; %> </td>
        <td><%= Math.round(allData.results[i].Duration /60) +" min"; %> </td>
      </tr>
    <% } else { %>
      <tr></tr>
    <% } %>
  <% } %>

  
</table>
<div class="tableNavigation">

  <a href="/trips/?page=<%= allData.info.page%>&limit=<%= 25 %>">25</a>
  <a href="/trips/?page=<%= allData.info.page%>&limit=<%= 50 %>">50</a>
  <a href="/trips/?page=<%= allData.info.page%>&limit=<%= 75 %>">75</a>
  <a href="/trips/?page=<%= allData.info.page%>&limit=<%= 100 %>">100</a>
  
  <br>

<% if ("previous" in allData) { %>
  <a href="/trips/?page=<%= allData.info.page -1 %>&limit=<%= allData.info.limit %>"> < </a>
    <% } %>


<% if ("next" in allData) { %>
  <a href="/trips/?page=<%= allData.info.page +1 %>&limit=<%= allData.info.limit %>"> > </a>
    <% } %>

    </div>
    <br>
    <br>
    <br>
<%- include("footer") -%>


<script>

var coll = document.getElementsByClassName("searchJourney");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}

</script>