<%- include("header"); -%>

<h1><%=journeysText %></h1>

<!-- Search journey form  -->
<div class="journeySearch">
  <button type="button" class="search">Search Journeys</button>
  <div class="content">
    <form action="/searchJourneys/:searchedStation" method="post">
        <Label class="searchLabel">Search Journey by Station Name</Label>
        <input type="text" name="searchedStation" required>
        <br><br>
      <div class="distance">
        <Label>Distance: </Label>
        <input type="number" min=0 name="distanceMin">
        <p>km -</p>
        <input type="number" min=0 name="distanceMax">
        <p>km </p>
      </div>
        <br>
      <div class="duration">
        <Label>Duration: </Label>
        <input type="number" min=0 name="durationMin">
        <p>min -</p>
        <input type="number" min=0 name="durationMax">
        <p>min </p>
      </div>
        <br>
        <button type="submit" name="search" class="searchBtn">Search</button>
    </form>
  </div>
</div>

<!-- Table for Journeys -->
<table>
  <tr>
    <th>Departure station name</th>
    <th>Return station name</th>
    <th>Distance</th>
    <th>Duration</th>
  </tr>

  <!-- Looping through all data and creating table  -->
  <% for (let i = 0; i < allData.info.limit; i++) { %>
    <% if (allData.results[i]) { %>
      <tr>
        <td><%= allData.results[i].DepartureStationName %> </td>
        <td><%= allData.results[i].ReturnStationName; %> </td>
        <td><%= Math.round((allData.results[i].Distance /1000) * 100) / 100 +" km"; %> </td>
        <td><%= Math.round(allData.results[i].Duration /60) +" min"; %> </td>
      </tr>
    <% } else { %>
      <tr></tr>
    <% } %>
  <% } %>

</table>

<!-- Table row limits -dropdown -->
<div class="tableNavigation">
  <div class="limitDropdown">
    <span><%= allData.info.limit %> ▼</span>
    <div class="limitDropdownContent">
      <a href="/journeys/?page=1&limit=<%= 25 %>">25</a>
      <a href="/journeys/?page=1&limit=<%= 50 %>">50</a>
      <a href="/journeys/?page=1&limit=<%= 75 %>">75</a>
      <a href="/journeys/?page=1&limit=<%= 100 %>">100</a>
  </div>
  </div>
  <br>

  <!-- Table navigation -->
<% if ("previous" in allData) { %>
  <a href="/journeys/?page=<%= allData.info.page -1 %>&limit=<%= allData.info.limit %>"> ◄ </a>
    <% } %>

<% if ("next" in allData) { %>
  <a href="/journeys/?page=<%= allData.info.page +1 %>&limit=<%= allData.info.limit %>"> ► </a>
    <% } %>

    </div>
    <br>
    <br>
    <br>
<%- include("footer") -%>


<script >
    var coll = document.getElementsByClassName("search");
    var i;
    
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }
</script>