<%- include("header"); -%>

<h1><%=journeysText %></h1>

<div class="journeySearch">
<button type="button" class="searchJourney">Search Journeys</button>
<div class="content">
  <form action="/searchJourneys/:searchedStation" method="post">
      <Label class="searchLabel">Search Journey by Station Name</Label>
      <input type="text" name="searchedStation" required>
      <br><br>
    <div class="distance">
      <Label>Distance: </Label>
      <input type="text" name="distanceMin">
      <p>km -</p>
      <input type="text" name="distanceMax">
      <p>km </p>
    </div>
      <br>
    <div class="duration">
      <Label>Duration: </Label>
      <input type="text" name="durationMin">
      <p>min -</p>
      <input type="text" name="durationMax">
      <p>min </p>
    </div>
      <br>
      <button type="submit" name="search">Search</button>
  </form>
</div>
</div>

<table>
  <tr>
    <th>Departure station name</th>
    <th>Return station name</th>
    <th>Distance</th>
    <th>Duration</th>
  </tr>

  <% for (let i = 0; i < allData.info.limit; i++) { %>
    <% if (allData.results[i]) { %>
      <tr>
        <td><%= allData.results[i].DepartureStationName %> </td>
        <td><%= allData.results[i].ReturnStationName; %> </td>
        <td><%= Math.round((allData.results[i].Distance /1000) * 100) / 100 +" km"; %> </td>
        <td><%= Math.round(allData.results[i].Duration /60) +" min"; %> </td>
      </tr>
    <% } else { %>
      <tr></tr>
    <% } %>
  <% } %>

  
</table>
<div class="tableNavigation">
  <div class="limitDropdown">
    <span><%= allData.info.limit %> ▼</span>
    <div class="limitDropdownContent">
      <a href="/journeys/?page=<%= allData.info.page%>&limit=<%= 25 %>">25</a>
      <a href="/journeys/?page=<%= allData.info.page%>&limit=<%= 50 %>">50</a>
      <a href="/journeys/?page=<%= allData.info.page%>&limit=<%= 75 %>">75</a>
      <a href="/journeys/?page=<%= allData.info.page%>&limit=<%= 100 %>">100</a>
  </div>
  </div>
  <br>

<% if ("previous" in allData) { %>
  <a href="/journeys/?page=<%= allData.info.page -1 %>&limit=<%= allData.info.limit %>"> ◄ </a>
    <% } %>


<% if ("next" in allData) { %>
  <a href="/journeys/?page=<%= allData.info.page +1 %>&limit=<%= allData.info.limit %>"> ► </a>
    <% } %>

    </div>
    <br>
    <br>
    <br>
<%- include("footer") -%>


<script>

var coll = document.getElementsByClassName("searchJourney");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}

</script>