<%- include("header"); -%>

<h1>Journeys including <%= searchedJourney %></h1>

<!-- Screen for 'no data found' -->
<% if (!searchedData[0]) { %>
  <div class="noJourneysFound">
    <h2>No Data found with given search criteria. Check the station name.</h2>
    <a href="/journeys?page=1&limit=25">Back to Journeys</a>
  </div>
  
  <!-- Table for found Journey data -->
<% } else { %>
  <table>
    <tr>
      <th>Departure station name</th>
      <th>Return station name</th>
      <th>Distance</th>
      <th>Duration</th>
    </tr>
  <tr>
    <!-- Looping through found data for first 500 rows -->
  <% for (let i = 0; i < 500; i++) { %>
    <% if (searchedData[i]) { %>
   
        <td><%= searchedData[i].DepartureStationName %> </td>
        <td><%= searchedData[i].ReturnStationName %> </td>
        <td><%= Math.round((searchedData[i].Distance /1000) * 100) / 100 +" km"; %> </td>
        <td><%= Math.round(searchedData[i].Duration /60) +" min"; %> </td>
      </tr>
    <% } %>
  <% } %>
</table>

<% } %>
  

<%- include("footer") -%>