<%- include("header"); -%>


<h1>Stations</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Station Name</th>
    <th>Address</th>
    <th>City</th>
  </tr>


  <% for (let i = 0; i < allStations.info.limit; i++) { %>
    <% if (allStations.results[i]) { %>
      <tr>
        <td ><%= allStations.results[i].Id; %> </td>
        <td> <a href="/stations/<%=allStations.results[i].Name%>"> <%= allStations.results[i].Name %></a> </td>
        <td><%= allStations.results[i].Osoite; %></td>
        <td><%= allStations.results[i].Kaupunki; %></td>
      </tr>
    <% } else { %>
      <tr></tr>
    <% } %>
      
  <% } %>

</table>

<div class="tableNavigation">
<a href="/stations/?page=<%= allStations.info.page%>&limit=<%= 25 %>">25</a>
<a href="/stations/?page=<%= allStations.info.page%>&limit=<%= 50 %>">50</a>
<a href="/stations/?page=<%= allStations.info.page%>&limit=<%= 75 %>">75</a>
<a href="/stations/?page=<%= allStations.info.page%>&limit=<%= 100 %>">100</a>

<br>

<% if ("previous" in allStations) { %>
  <a href="/stations/?page=<%= allStations.info.page -1 %>&limit=<%= allStations.info.limit %>"> < </a>
    <% } %>




<% if ("next" in allStations) { %>
  <a href="/stations/?page=<%= allStations.info.page +1 %>&limit=<%= allStations.info.limit %>"> > </a>
    <% } %>
  </div>

    <br>
    <br>
    <br>

<%- include("footer") -%>
