<%- include("header"); -%>


<h1>Stations</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Station Name</th>
    <th>Address</th>
    <th>City</th>
  </tr>

  <% for (let i = 0; i < allStations.info.limit; i++) { %>
    <% if (allStations.results[i].Kaupunki == "Espoo") { %>
      <%   Kaupunki = "Espoo" %>
      <% } else { %>
      <%   Kaupunki = "Helsinki" %>
      <% } %>
    <tr>
      <td><%= allStations.results[i].Id; %> </td>
      <td><%= allStations.results[i].Name; %></td>
      <td><%= allStations.results[i].Osoite; %></td>
      <td><%= Kaupunki; %></td>
    </tr>
  <% } %>

</table>

<select name="limitSelection">
  <option value="25">25</option>
  <option value="50">50</option>
  <option value="75">75</option>
  <option value="100">100</option>
</select>







<%- include("footer") -%>
