
<%- include("header"); -%>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

<h1><%= stationName %> </h1>

<div class="stationDetails">
    <h2>Address: <%= stationAddress %></h2>

    <div class="coordinates">
        <p>lng: </p>
        <p id="lng"> <%= lng %> </p>
        <p>, lat: </p>
        <p id="lat"> <%= lat %> </p>
    </div>

    <p> Total number of journeys starting from the station: <%= departures.length %></p>

    <p> Total number of journeys ending at the station: <%= returns.length %></p>


    <!-- ************************************** -->
    <!-- ************ Functions *************** -->
    <!-- ************************************** -->
    
    <!-- Calculation top departure/return stations -->
    <% countTopStation = function(stations){ %>
        <% const countStations = {}; %>
    
        <% stations.forEach(element => { %>
            <% if (countStations[element]) { %>
                <% countStations[element] += 1; %>
            <% } else { %>
                <% countStations[element] = 1; %>
            <% } %>
        <% }); %>

        <% let topStation = Object.keys(countStations).reduce((a, b) => countStations[a] > countStations[b] ? a : b); %>
        <% return topStation; %>
    <% } %>


    <!-- Calculationg the average distance  -->
    <% countAverageDistance = function(journeyInfo) { %>
        <% let sum = 0 %>
        <% for (let i = 0; i < journeyInfo.length; i++) { %>
            <% sum = sum + journeyInfo[i].Distance %>
        <% } %>

        <% let averageDistance = Math.round(sum / journeyInfo.length) %>
        <% return averageDistance %>
    <% } %>



    <!-- ************************************** -->
    <!-- **** Station as Departure station **** -->
    <!-- ************************************** -->

    <% if (departures.length > 0) { %>
        <br>
        <h3> <%= stationName %> as Departure Station</h3>
        <!-- The average distance starting from station  -->
        <p>The average distance of a journeys: <%= countAverageDistance(departures) %> m</p>
        
        <!-- Pushing all return stations to array -->
        <% let returnStations= [] %>
        <% for (let i = 0; i < departures.length; i++) { %>
            <% returnStations.push(departures[i].ReturnStationName +" ") %>
        <% } %>

        <!-- Calling countTopStation to get top return station -->
        <p>The most common return stations: <%= countTopStation(returnStations) %> </p>
    <% } %>


    <!-- *********************************** -->
    <!-- **** Station as Return station **** -->    
    <!-- *********************************** -->

    <% if (returns.length > 0) { %>
        <br>
        <h3> <%= stationName %> as Return Station</h3>
         <!-- The average distance ending to station  -->
        <p>The average distance of a journeys: <%= countAverageDistance(returns) %> m</p>

        <!-- Pushing all departure stations to array -->
        <% let departureStations= [] %>
        <% for (let i = 0; i < returns.length; i++) { %>
            <% departureStations.push(returns[i].DepartureStationName +" ") %>
        <% } %>

        <!-- Calling countTopStation to get top departure station -->
        <p> The most common departure stations: <%= countTopStation(departureStations) %> </p>
        <% } %>



        <div id="googleMap"></div>
 
</div>


<%- include("footer") -%>



<script type="text/javascript">
function myMap() {

var mapProp= {
  center:new google.maps.LatLng(document.getElementById("lat").innerHTML, document.getElementById("lng").innerHTML),
  zoom:18,
};
var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
new google.maps.Marker({
    position: new google.maps.LatLng(document.getElementById("lat").innerHTML, document.getElementById("lng").innerHTML),
    map
  });

}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=KEY&callback=myMap"></script>