<%- include("header"); -%>


<h1>Stations</h1>



<div class="stationSearch">
  <button type="button" class="search">Search Stations</button>
    <div class="content">
    <form action="/searchStation/:requestedStation" method="post">
      <br>
      <label class="searchLabel">Search by Station Name: </label>
      <input type="text" name="requestedStation" >
      <br><br>
      <button type="submit" name="search" class="searchBtn">Search </button>
    </form>
  </div>
</div>



<table id="stationsTable">
  <tr>
    <th>ID</th>
    <th>Station Name</th>
    <th>Address</th>
    <th>City</th>
  </tr>


  <% for (let i = 0; i < allStations.info.limit; i++) { %>
    <% if (allStations.results[i]) { %>
      <tr>
        <td ><%= allStations.results[i].Id; %> </td>
        <td> <a href="/stations/<%=allStations.results[i].Name%>" class="stationName"> <%=allStations.results[i].Name %></a> </td>
        <td><%= allStations.results[i].Osoite; %></td>
        <td><%= allStations.results[i].Kaupunki; %></td>
      </tr>
    <% } else { %>
      <tr></tr>
    <% } %>
      
  <% } %>

</table>

<div class="tableNavigation">
  <div class="limitDropdown">
    <span><%= allStations.info.limit %> ▼</span>
    <div class="limitDropdownContent">
      <a href="/stations/?page=<%= allStations.info.page%>&limit=<%= 25 %>">25</a>
      <a href="/stations/?page=<%= allStations.info.page%>&limit=<%= 50 %>">50</a>
      <a href="/stations/?page=<%= allStations.info.page%>&limit=<%= 75 %>">75</a>
      <a href="/stations/?page=<%= allStations.info.page%>&limit=<%= 100 %>">100</a>
    </div>
  </div>

<br>

<% if ("previous" in allStations) { %>
  <a href="/stations/?page=<%= allStations.info.page -1 %>&limit=<%= allStations.info.limit %>"> ◄ </a>
    <% } %>




<% if ("next" in allStations) { %>
  <a href="/stations/?page=<%= allStations.info.page +1 %>&limit=<%= allStations.info.limit %>"> ► </a>
    <% } %>
  </div>

    <br>
    <br>
    <br>


<%- include("footer") -%>

<script>

  var coll = document.getElementsByClassName("search");
  var i;
  
  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
  
  </script>